#Ignore Visual Studio Code settings
.vscode/

#Ignore STM32CubeIDE intermediate files
stm32/.settings/
stm32/Debug/
stm32/Release/
stm32/.mxproject
stm32/*.launch

# Ignore MATLAB auto save files
*.asv